body {
  background-color: silver;
}
canvas {
  width: 90vw;
  height: 90vh;
  background-color: #fff; 
  border: 1px solid black;
  margin: auto; 
  display: block;
  //vertically center
  //responsive? 

}
