body {
  background-color: #aaa;
}
.drawing-area {
  width: 90%; 
  margin: auto; 
  background-color: #fff;
  height: 90vh;
  margin-top: 5vh;
  padding: 1rem;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
}
.rectangle {
  background-color: blue; 
  width: 50px;
  height: 50px;
  position: relative;
  
}