body {
  background: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/double_lined.png) repeat;
  font-family: 'Cabin', sans-serif;
}
.drawing-area {
  width: 90%; 
  margin: auto; 
  background-color: #fff;
  height: 480px;
  margin-top: 5vh;
  padding: 1rem;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(143,143,143,1);
  -moz-box-shadow: 0px 0px 3px 3px rgba(143,143,143,1);
  box-shadow: 0px 0px 3px 3px rgba(143,143,143,1);
}
.canvas {
  width: 80%; 
  float: right;
  height: 100%;
  @media all and (max-width: 768px) {
    width: 100%;
  }
}
.rectangle {
  background-color: blue; 
  width: 100px;
  height: 100px;
  position: absolute;

}
.remove {
  position: absolute;
  top: -15px;
  right: -15px;
  color: #fff;
  background-color: #000;
  padding: 15px;
  z-index: 999;
  width: 15px;
  height: 15px; 
  border-radius: 50%; 
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  text-align: center;
  .fa {
    margin-top: -11px;
  }
}
.saved {
  width: 90%; 
  margin: auto; 
  padding: 1rem; 
}
.drawing-list {
  width: 100%; 
  p {
    padding: 50px;
    border: 1px solid blue;
  }
}
